<a href="https://colab.research.google.com/github/JonasWetzel94/google_collab_sql/blob/main/SQL_Window_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [ ]:
%%sql
SELECT
    customerkey,
    storekey,
    quantity,
    ROUND(AVG(quantity) OVER (PARTITION BY customerkey),2) AS avg_quantity_customer,
    ROUND(AVG(quantity) OVER (PARTITION BY storekey),2) AS avg_quantity_store
FROM sales
ORDER BY
    customerkey,
    storekey
LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

   customerkey  storekey  quantity avg_quantity_customer avg_quantity_store
0           15    999999         5                  5.00               3.14
1          180        50         2                  2.00               3.15
2          180        50         3                  2.00               3.15
3          180    999999         1                  2.00               3.14
4          185        50         3                  3.00               3.15

In [ ]:
%%sql
WITH customer_orders_2022 AS (
    SELECT DISTINCT
        customerkey,
        orderkey,
        orderdate
    FROM sales
    WHERE EXTRACT(YEAR FROM orderdate) = 2022
)
SELECT
    orderkey,
    customerkey,
    orderdate,
    COUNT(*) OVER (PARTITION BY customerkey) AS total_orders
FROM customer_orders_2022
ORDER BY
    total_orders DESC,
    customerkey
LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

   orderkey  customerkey   orderdate  total_orders
0   2822027       368817  2022-09-22             5
1   2917044       368817  2022-12-26             5
2   2700016       368817  2022-05-23             5
3   2711006       368817  2022-06-03             5
4   2918016       368817  2022-12-27             5

In [ ]:
%%sql
WITH customer_ltv AS (
    SELECT
        s.customerkey,
        EXTRACT(DECADE FROM c.birthday)*10 AS birth_decade,
        SUM(s.quantity * s.netprice * s.exchangerate) AS ltv
    FROM sales s
    INNER JOIN customer c ON s.customerkey = c.customerkey
    GROUP BY s.customerkey, birth_decade
)
SELECT
    customerkey,
    birth_decade,
    ltv,
    AVG(ltv) OVER (PARTITION BY birth_decade) AS avg_ltv_by_birth_decade
FROM customer_ltv
WHERE ltv > 1000
ORDER BY
    birth_decade,
    customerkey
LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

   customerkey birth_decade     ltv  avg_ltv_by_birth_decade
0          649         1930 4063.09                  5586.39
1         2268         1930 1243.54                  5586.39
2         2599         1930 8608.97                  5586.39
3         3706         1930 1759.19                  5586.39
4         4713         1930 1993.40                  5586.39

In [ ]:
%%sql
WITH net_revenue_base AS (
    SELECT
        customerkey,
        quantity * netprice * exchangerate AS net_revenue
    FROM sales
    WHERE EXTRACT(YEAR FROM orderdate) BETWEEN 2015 AND 2020
),
customer_sales AS (
    SELECT
        nr.customerkey,
        c.gender,
        SUM(nr.net_revenue) AS total_revenue
    FROM net_revenue_base nr
    JOIN customer c ON nr.customerkey = c.customerkey
    GROUP BY
        nr.customerkey,
        c.gender
)
SELECT
    customerkey,
    gender,
    total_revenue,
    AVG(total_revenue) OVER (PARTITION BY gender) AS avg_revenue_by_gender,
    100 * total_revenue / AVG(total_revenue) OVER (PARTITION BY gender) AS revenue_vs_group
FROM customer_sales;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

28522 rows affected.

,customerkey,gender,total_revenue,avg_revenue_by_gender,revenue_vs_group
0,2099711,female,6008.67,3460.79,173.62
1,185,female,1395.52,3460.79,40.32
2,243,female,287.67,3460.79,8.31
3,387,female,2370.54,3460.79,68.50
4,957,female,567.12,3460.79,16.39
...,...,...,...,...,...
28517,1657577,male,4362.60,3458.78,126.13
28518,1212224,male,4754.82,3458.78,137.47
28519,2044999,male,358.20,3458.78,10.36
28520,1990450,male,7262.05,3458.78,209.96
28521,1212351,male,3086.65,3458.78,89.24

In [ ]:
%%sql
WITH store_order_counts AS (
    SELECT
        st.storecode,
        COUNT(s.orderkey) AS total_orders
    FROM sales s
    LEFT JOIN store st ON s.storekey = st.storekey
    GROUP BY st.storecode
)
SELECT
    storecode,
    total_orders,
    ROW_NUMBER() OVER (ORDER BY total_orders DESC) AS total_orders_row_num,
    RANK() OVER (ORDER BY total_orders DESC) AS total_orders_rank,
    DENSE_RANK() OVER (ORDER BY total_orders DESC) AS total_orders_dense_rank
FROM store_order_counts;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

67 rows affected.

,storecode,total_orders,total_orders_row_num,total_orders_rank,total_orders_dense_rank
0,-1,78305,1,1,1
1,54,3397,2,2,2
2,61,3334,3,3,3
3,45,3257,4,4,4
4,44,3255,5,5,5
...,...,...,...,...,...
62,28,271,63,63,62
63,2,59,64,64,63
64,52,51,65,65,64
65,11,29,66,66,65
66,35,14,67,67,66

In [ ]:
%%sql
WITH customer_last_purchase AS (
    SELECT
        customerkey,
        orderdate,
        ROW_NUMBER() OVER (PARTITION BY customerkey ORDER BY orderdate DESC) AS rn
    FROM sales
)
SELECT
    customerkey,
    orderdate AS last_purchase_date,
    CASE
        WHEN orderdate >= (SELECT MAX(orderdate) FROM sales) - INTERVAL '1 year' THEN 'Recent Purchase'
        ELSE 'No Recent Purchase'
    END AS customer_status
FROM customer_last_purchase
WHERE rn = 1

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey last_purchase_date     customer_status
0               15         2021-03-08  No Recent Purchase
1              180         2023-08-28     Recent Purchase
2              185         2019-06-01  No Recent Purchase
3              243         2016-05-19  No Recent Purchase
4              387         2023-11-16     Recent Purchase
...            ...                ...                 ...
49482      2099619         2020-07-10  No Recent Purchase
49483      2099656         2024-02-06     Recent Purchase
49484      2099697         2022-09-13  No Recent Purchase
49485      2099711         2017-08-14  No Recent Purchase
49486      2099743         2023-02-11  No Recent Purchase

[49487 rows x 3 columns]

In [ ]:
%%sql
WITH yearly_cohort AS (
    SELECT
        customerkey,
        EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
        SUM(quantity * netprice * exchangerate) AS customer_ltv
    FROM sales
    GROUP BY
        customerkey
)
SELECT
    cohort_year,
    AVG(customer_ltv) AS avg_ltv,
    DENSE_RANK() OVER (ORDER BY AVG(customer_ltv) DESC) AS dense_rank
FROM yearly_cohort
GROUP BY
    cohort_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  avg_ltv  dense_rank
0        2016  5404.92           1
1        2017  5403.08           2
2        2015  5271.59           3
3        2018  4896.64           4
4        2019  4731.95           5
5        2021  3943.33           6
6        2020  3933.32           7
7        2022  3315.52           8
8        2023  2543.18           9
9        2024  2037.55          10

In [ ]:
%%sql
WITH cohort AS (
    SELECT
        customerkey,
        EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year
    FROM sales
    GROUP BY
        customerkey
),
monthly_stats AS (
    SELECT
        c.cohort_year,
        DATE_TRUNC('month', s.orderdate) AS order_month,
        COUNT(DISTINCT s.orderkey) AS total_orders,
        COUNT(DISTINCT s.customerkey) AS user_count
    FROM sales s
    LEFT JOIN cohort c ON c.customerkey = s.customerkey
    GROUP BY
        c.cohort_year,
        DATE_TRUNC('month', s.orderdate)
)
SELECT
    cohort_year,
    order_month,
    total_orders,
    user_count,
    ROW_NUMBER() OVER (ORDER BY total_orders DESC) AS row_rank,
    RANK() OVER (ORDER BY total_orders DESC) AS rank_rank,
    DENSE_RANK() OVER (ORDER BY total_orders DESC) AS dense_rank
FROM monthly_stats
ORDER BY total_orders DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

580 rows affected.

,cohort_year,order_month,total_orders,user_count,row_rank,rank_rank,dense_rank
0,2022,2022-12-01 00:00:00+00:00,1083,1066,1,1,1
1,2019,2019-02-01 00:00:00+00:00,1019,1003,2,2,2
2,2018,2018-12-01 00:00:00+00:00,998,991,3,3,3
3,2022,2022-02-01 00:00:00+00:00,991,985,4,4,4
4,2022,2022-06-01 00:00:00+00:00,969,952,5,5,5
...,...,...,...,...,...,...,...
575,2015,2020-11-01 00:00:00+00:00,5,5,576,575,249
576,2016,2020-10-01 00:00:00+00:00,4,4,577,577,250
577,2015,2017-04-01 00:00:00+00:00,4,4,578,577,250
578,2015,2020-09-01 00:00:00+00:00,2,2,579,579,251
579,2015,2016-04-01 00:00:00+00:00,1,1,580,580,252

In [ ]:
%%sql

WITH weekly_orders AS (
    SELECT
        DATE_TRUNC('week', orderdate) as week,
        COUNT(DISTINCT orderkey) as total_orders
    FROM sales
    WHERE EXTRACT(YEAR FROM orderdate) = 2023
    GROUP BY week
    ORDER BY week
)
SELECT
    week,
    total_orders,
    FIRST_VALUE(total_orders) OVER (ORDER BY week) as first_week_orders,
    NTH_VALUE(total_orders, 3) OVER (ORDER BY week) as third_week_orders,
    LAG(total_orders) OVER (ORDER BY week) as previous_week_orders,
    LEAD(total_orders) OVER (ORDER BY week) as next_week_orders
FROM weekly_orders;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

53 rows affected.

,week,total_orders,first_week_orders,third_week_orders,previous_week_orders,next_week_orders
0,2022-12-26 00:00:00+00:00,12,12,NaN,NaN,444.00
1,2023-01-02 00:00:00+00:00,444,12,NaN,12.00,363.00
2,2023-01-09 00:00:00+00:00,363,12,363.00,444.00,343.00
3,2023-01-16 00:00:00+00:00,343,12,363.00,363.00,348.00
4,2023-01-23 00:00:00+00:00,348,12,363.00,343.00,346.00
5,2023-01-30 00:00:00+00:00,346,12,363.00,348.00,352.00
6,2023-02-06 00:00:00+00:00,352,12,363.00,346.00,607.00
7,2023-02-13 00:00:00+00:00,607,12,363.00,352.00,642.00
8,2023-02-20 00:00:00+00:00,642,12,363.00,607.00,373.00
9,2023-02-27 00:00:00+00:00,373,12,363.00,642.00,326.00
10,2023-03-06 00:00:00+00:00,326,12,363.00,373.00,264.00
11,2023-03-13 00:00:00+00:00,264,12,363.00,326.00,159.00
12,2023-03-20 00:00:00+00:00,159,12,363.00,264.00,83.00
13,2023-03-27 00:00:00+00:00,83,12,363.00,159.00,57.00
14,2023-04-03 00:00:00+00:00,57,12,363.00,83.00,83.00
15,2023-04-10 00:00:00+00:00,83,12,363.00,57.00,149.00
16,2023-04-17 00:00:00+00:00,149,12,363.00,83.00,250.00
17,2023-04-24 00:00:00+00:00,250,12,363.00,149.00,322.00
18,2023-05-01 00:00:00+00:00,322,12,363.00,250.00,310.00
19,2023-05-08 00:00:00+00:00,310,12,363.00,322.00,306.00
20,2023-05-15 00:00:00+00:00,306,12,363.00,310.00,314.00
21,2023-05-22 00:00:00+00:00,314,12,363.00,306.00,307.00
22,2023-05-29 00:00:00+00:00,307,12,363.00,314.00,301.00
23,2023-06-05 00:00:00+00:00,301,12,363.00,307.00,307.00
24,2023-06-12 00:00:00+00:00,307,12,363.00,301.00,305.00
25,2023-06-19 00:00:00+00:00,305,12,363.00,307.00,297.00
26,2023-06-26 00:00:00+00:00,297,12,363.00,305.00,304.00
27,2023-07-03 00:00:00+00:00,304,12,363.00,297.00,299.00
28,2023-07-10 00:00:00+00:00,299,12,363.00,304.00,278.00
29,2023-07-17 00:00:00+00:00,278,12,363.00,299.00,166.00
30,2023-07-24 00:00:00+00:00,166,12,363.00,278.00,175.00
31,2023-07-31 00:00:00+00:00,175,12,363.00,166.00,282.00
32,2023-08-07 00:00:00+00:00,282,12,363.00,175.00,295.00
33,2023-08-14 00:00:00+00:00,295,12,363.00,282.00,297.00
34,2023-08-21 00:00:00+00:00,297,12,363.00,295.00,286.00
35,2023-08-28 00:00:00+00:00,286,12,363.00,297.00,294.00
36,2023-09-04 00:00:00+00:00,294,12,363.00,286.00,296.00
37,2023-09-11 00:00:00+00:00,296,12,363.00,294.00,285.00
38,2023-09-18 00:00:00+00:00,285,12,363.00,296.00,289.00
39,2023-09-25 00:00:00+00:00,289,12,363.00,285.00,289.00
40,2023-10-02 00:00:00+00:00,289,12,363.00,289.00,287.00
41,2023-10-09 00:00:00+00:00,287,12,363.00,289.00,288.00
42,2023-10-16 00:00:00+00:00,288,12,363.00,287.00,289.00
43,2023-10-23 00:00:00+00:00,289,12,363.00,288.00,291.00
44,2023-10-30 00:00:00+00:00,291,12,363.00,289.00,288.00
45,2023-11-06 00:00:00+00:00,288,12,363.00,291.00,291.00
46,2023-11-13 00:00:00+00:00,291,12,363.00,288.00,289.00
47,2023-11-20 00:00:00+00:00,289,12,363.00,291.00,288.00
48,2023-11-27 00:00:00+00:00,288,12,363.00,289.00,290.00
49,2023-12-04 00:00:00+00:00,290,12,363.00,288.00,319.00
50,2023-12-11 00:00:00+00:00,319,12,363.00,290.00,376.00
51,2023-12-18 00:00:00+00:00,376,12,363.00,319.00,402.00
52,2023-12-25 00:00:00+00:00,402,12,363.00,376.00,NaN

In [ ]:
%%sql
WITH order_revenue AS (
    SELECT
        customerkey,
        orderkey,
        orderdate,
        SUM(quantity * netprice * exchangerate) AS total_net_revenue
    FROM sales
    GROUP BY customerkey, orderkey, orderdate
)
SELECT
    customerkey,
    orderkey,
    total_net_revenue AS order_amount,
    FIRST_VALUE(total_net_revenue) OVER (
        PARTITION BY customerkey
        ORDER BY orderdate
    ) AS first_order_amount,
    NTH_VALUE(total_net_revenue, 2) OVER (
        PARTITION BY customerkey
        ORDER BY orderdate
    ) AS second_order_amount,
    LAG(total_net_revenue) OVER (
        PARTITION BY customerkey
        ORDER BY orderdate
    ) as prev_order_amount,
    LEAD(total_net_revenue) OVER (
        PARTITION BY customerkey
        ORDER BY orderdate
    ) as next_order_amount
FROM order_revenue
ORDER BY customerkey, orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83130 rows affected.

,customerkey,orderkey,order_amount,first_order_amount,second_order_amount,prev_order_amount,next_order_amount
0,15,2259001,2217.41,2217.41,NaN,NaN,NaN
1,180,1305016,525.31,525.31,NaN,NaN,1984.90
2,180,3162018,1984.90,525.31,1984.90,525.31,NaN
3,185,1613010,1395.52,1395.52,NaN,NaN,NaN
4,243,505008,287.67,287.67,NaN,NaN,NaN
...,...,...,...,...,...,...,...
83125,2099697,2813044,38.20,38.20,NaN,NaN,NaN
83126,2099711,591007,2067.75,2067.75,NaN,NaN,3940.92
83127,2099711,957007,3940.92,2067.75,3940.92,2067.75,NaN
83128,2099743,2633018,469.62,469.62,NaN,NaN,598.46
83129,2099743,2964016,598.46,469.62,598.46,469.62,NaN

In [ ]:
%%sql
WITH yearly_revenue AS (
    SELECT
        storekey,
        EXTRACT(YEAR FROM orderdate) AS order_year,
        SUM(quantity * netprice * exchangerate) AS total_net_revenue
    FROM sales
    GROUP BY
        storekey,
        order_year
)
SELECT
    *,
    LEAD(total_net_revenue) OVER (PARTITION BY storekey ORDER BY order_year) AS next_year,
    100 * (LEAD(total_net_revenue) OVER (PARTITION BY storekey ORDER BY order_year) - total_net_revenue) /
    (total_net_revenue) AS year_change
FROM yearly_revenue;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

599 rows affected.

     storekey order_year  total_net_revenue   next_year  year_change
0          10       2015           93555.57    29455.75       -68.52
1          10       2016           29455.75    73457.07       149.38
2          10       2017           73457.07   114153.75        55.40
3          10       2018          114153.75   236707.95       107.36
4          10       2019          236707.95    75607.66       -68.06
..        ...        ...                ...         ...          ...
594    999999       2020         2675169.93  8798749.55       228.90
595    999999       2021         8798749.55 24127533.28       174.22
596    999999       2022        24127533.28 20089790.85       -16.73
597    999999       2023        20089790.85  4871371.55       -75.75
598    999999       2024         4871371.55         NaN          NaN

[599 rows x 5 columns]

In [ ]:
%%sql
WITH daily_revenue AS (
    SELECT
        orderdate,
        SUM(quantity * netprice * exchangerate) AS net_revenue
    FROM sales
    GROUP BY orderdate
)
SELECT
    orderdate,
    net_revenue,
    SUM(net_revenue) OVER (
        ORDER BY orderdate
        ROWS BETWEEN 3 PRECEDING AND 3 FOLLOWING
    ) as rolling_sum_7_day_revenue,
    AVG(net_revenue) OVER (
        ORDER BY orderdate
        ROWS BETWEEN 3 PRECEDING AND 3 FOLLOWING
    ) as rolling_avg_7_day_revenue
FROM daily_revenue
ORDER BY orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

,orderdate,net_revenue,rolling_sum_7_day_revenue,rolling_avg_7_day_revenue
0,2015-01-01,11640.80,49734.14,12433.53
1,2015-01-02,5890.40,60084.01,12016.80
2,2015-01-03,19796.67,70613.06,11768.84
3,2015-01-05,12406.27,81917.34,11702.48
4,2015-01-06,10349.87,79523.44,11360.49
...,...,...,...,...
3289,2024-04-16,25098.99,192500.12,27500.02
3290,2024-04-17,32938.67,245226.68,35032.38
3291,2024-04-18,28408.76,243412.67,40568.78
3292,2024-04-19,48386.88,231712.73,46342.55
3293,2024-04-20,96879.43,206613.74,51653.44

In [ ]:
%%sql
WITH order_revenue AS (
    SELECT
        orderdate,
        orderkey,
        SUM(quantity * netprice * exchangerate) AS net_revenue
    FROM sales
    GROUP BY orderdate, orderkey
)
SELECT
    orderdate,
    orderkey,
    net_revenue,
    SUM(net_revenue) OVER (
        ORDER BY orderdate, orderkey
        ROWS BETWEEN CURRENT ROW AND 9 FOLLOWING
    ) AS next_10_order_revenue,
    AVG(net_revenue) OVER (
        ORDER BY orderdate, orderkey
        ROWS BETWEEN CURRENT ROW AND 9 FOLLOWING
    ) AS avg_next_10_order_revenue
FROM order_revenue
ORDER BY orderdate, orderkey;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83130 rows affected.

,orderdate,orderkey,net_revenue,next_10_order_revenue,avg_next_10_order_revenue
0,2015-01-01,1000,486.77,11937.77,1193.78
1,2015-01-01,1001,108.75,13925.99,1392.60
2,2015-01-01,1002,3458.64,14611.85,1461.19
3,2015-01-01,1003,224.98,12452.78,1245.28
4,2015-01-01,1004,3246.38,12539.79,1253.98
...,...,...,...,...,...
83125,2024-04-20,3398031,2624.34,10989.01,2197.80
83126,2024-04-20,3398032,275.67,8364.67,2091.17
83127,2024-04-20,3398033,4612.96,8089.00,2696.33
83128,2024-04-20,3398034,1251.81,3476.04,1738.02
83129,2024-04-20,3398035,2224.23,2224.23,2224.23

In [ ]:
%%sql
WITH order_revenue AS (
    SELECT
        orderdate,
        orderkey,
        SUM(quantity * netprice * exchangerate) AS net_revenue
    FROM sales
    GROUP BY orderdate, orderkey
)
SELECT
    orderdate,
    orderkey,
    net_revenue,
    SUM(net_revenue) OVER (
        ORDER BY orderdate, orderkey
        ROWS BETWEEN CURRENT ROW AND 9 FOLLOWING
    ) AS next_10_order_revenue,
    AVG(net_revenue) OVER (
        ORDER BY orderdate, orderkey
        ROWS BETWEEN CURRENT ROW AND 9 FOLLOWING
    ) AS avg_next_10_order_revenue
FROM order_revenue
ORDER BY orderdate, orderkey;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83130 rows affected.

,orderdate,orderkey,net_revenue,next_10_order_revenue,avg_next_10_order_revenue
0,2015-01-01,1000,486.77,11937.77,1193.78
1,2015-01-01,1001,108.75,13925.99,1392.60
2,2015-01-01,1002,3458.64,14611.85,1461.19
3,2015-01-01,1003,224.98,12452.78,1245.28
4,2015-01-01,1004,3246.38,12539.79,1253.98
...,...,...,...,...,...
83125,2024-04-20,3398031,2624.34,10989.01,2197.80
83126,2024-04-20,3398032,275.67,8364.67,2091.17
83127,2024-04-20,3398033,4612.96,8089.00,2696.33
83128,2024-04-20,3398034,1251.81,3476.04,1738.02
83129,2024-04-20,3398035,2224.23,2224.23,2224.23